@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

:root {
  --vermelho: rgb(202, 32, 23);
}

body {
  background: #f1f1f0;
  color: #333;
  font-family: 'Lato', sans-serif;
}

.bancario p {
  margin-bottom: 0px;
}

.caption{
  position: initial !important;
  padding: 2rem 8rem;
  margin-top: 1rem;
}

.carousel {
  height: 100%;
  background-color: #333;
  color: #f1f1f0;
}

.containerData {
  columns: 2 auto;
  margin-top: 10px;
}

.header {
  background-color: var(--vermelho);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  color: white;
  padding: 25px 0 25px 0;
  text-align: center;
  width: 100%;
}

.item {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  display: inline-block;
  font-weight: 300;
  height: 100%;
  line-break: strict;
  margin: 25px 0 25px 10px;
  padding: 10px;
  width: 100%;
}

.itemNome {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.img-row {
  display: flex;
  justify-content: center;
}

.jumbotron {
  height: 20rem;
  padding: 0 !important;
}

.logo {
  width: 8rem;
}

.subtitulo {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 2px;
}

@media (max-width: 440px) {
  .containerData {
    columns: 1 auto;
  }
  .item {
    margin: 25px 5px 25px 5px;
    height: 100%;
  }
  .itemNome {
    font-size: 25px;
  }
}